@model IEnumerable<WebApplication1.Models.Relations.Traveler_Mission_Date>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Mission's List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-route-Id="@ViewBag.SimID" asp-action="MissionUpsert" class="btn btn-primary">
                Create New Mission
            </a>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-4">
            <h3 class="text-primary">Money Spent on missions:</h3>
        </div>
        <div class="col-8">
            <input class="form-control" value="@ViewBag.total" disabled />
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            @if (ViewBag.Repeated)
            {
                <h3 class="text-primary" >This Sim has repeated at least one mission in @ViewBag.actualWorld and have been victorious in any of the attempts</h3>
            }
            else
            {
        <h3 class="text-primary" >This Sim has not repeated at least one mission in @ViewBag.actualWorld and have not been victorious in any of the attempts</h3>
            }
        </div>
    </div>

    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead thead style="background-color: white">
                <tr>
                    <th class="text-blue">
                        World
                    </th>
                    <th class="text-blue">
                        Date
                    </th>
                    <th class="text-blue">
                        Result
                    </th>
                    @*<th>

        </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr style="background-color: whitesmoke; 
                                opacity: 60%;">
                    <td width="50%" style="color: black;">@ViewBag.World[ViewBag.MissionWorld[obj.MissionID].WorldID].Name</td>
                    <td width="30%" style="color:black;">@obj.DateID</td>
                    <td width="30%" style="color:black;">@obj.Result</td>
                    @*<td class="text-center">
            <div class="w-75 btn-group" role="group">
                <a asp-route-Id="@obj.SimID" asp-action="TravelerUpsert" class="btn btn-primary mx-2">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-route-Id="@obj.SimID" asp-action="Delete" class="btn btn-danger mx-2">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        </td>*@
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Mission exists.</p>
    }

    <div class="col-1" style="margin-top:10px;">
        <a asp-route-Id="@ViewBag.SimID" asp-action="TravelerIndex" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>

    </div>
</div>