@model WebApplication1.Models.ViewModels.SimProfessionVM

@{ var title = "Profesion del Sim"; }

<form method="post" enctype="multipart/form-data">
    <input asp-for="Sim.SimID" hidden />
    @*<input asp-for="Sim_Profession.SimID"  value="Model.Sim.SimID"hidden/>*@

    @if (Model.Sim_Profession != null) { Model.Sim_Profession.SimID = Model.Sim.SimID; }
    else
    {
        Model.Sim_Profession = new WebApplication1.Models.Relations.Sim_Profession()
        {
            SimID = Model.Sim.SimID,
            Level = 0,
            Sim = Model.Sim
        };
    }
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Sim.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Sim.Name" disabled class="form-control" />
                        <span asp-validation-for="Sim.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Sim.LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Sim.LastName" disabled class="form-control" />
                        <span asp-validation-for="Sim.LastName" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label >ProfessionName</label>
                    </div>
                    @if (Model.Sim_Profession.ProfessionID != 0)
                    {

                <div class="form-group row">
                    
                    <div class="col-8">
                        <input class="form-control" value="@Model.Sim_Profession.Profession.Name" disabled />
                        @*<span asp-validation-for="Sim_Profession.Level" class="text-danger"></span>*@
                    </div>

                </div> @*<div class="col-8">
                        <select asp-for="Sim_Profession.ProfessionID" asp-items="@Model.ProfessionSelectList" class="form-control">
                            <option selected>
                                (@Model.Sim_Profession.Profession.Name)
                            </option>
                        </select>
                        <span asp-validation-for="(@Model.Sim_Profession.Profession.Name)" class="text-danger"></span>
                    </div>*@

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label asp-for="Level"></label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Sim_Profession.Level" disabled class="form-control" />
                                        <span asp-validation-for="Sim_Profession.Level" class="text-danger"></span>
                                    </div>

                                </div> }
                            else
                            {
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <label>ProfessionName</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" value="@ViewBag.Profession.Name" disabled />
                            @*<span asp-validation-for="Sim_Profession.Level" class="text-danger"></span>*@
                        </div>

                    </div>
                    @*<select asp-for="Sim_Profession.ProfessionID" asp-items="@Model.ProfessionSelectList" class="form-control">
            <option disabled selected>--Select Profession--</option>
        </select>*@
                    @*<span asp-validation-for="Sim_Profession.ProfessionID" class="text-danger"></span>*@
                </div>

                                <div class="form-group row">
                                    <div class="col-4">
                                        <label asp-for="Level"></label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Sim_Profession.Level" disabled class="form-control" value="0" />
                                        <span asp-validation-for="Sim_Profession.Level" class="text-danger"></span>
                                    </div>

                                </div>}
                </div>
                <div class="form-group row">
                    @*<div class="col-4">
                        <label asp-for="Sim.LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Sim.LastName" disabled class="form-control" />
                        <span asp-validation-for="Sim.LastName" class="text-danger"></span>
                    </div>*@
                    Sim is preparing for work
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="form-group row">
                            <div class="col-8 offset-4 row">

                                <div class="col">
                                    <input type="submit" class="btn btn-info w-100" value="Work" /> }
                                </div>


                                <div class="col">
                                    <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    @* Keep this empty *@
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" /> }

}